@import url('../assets/fonts/Roobert-Font/');
@import url('./main.css');

.project-card {
  width: 300px;
  background-color: var(--card-bg);
  corner-shape: squircle;
  border-radius: 40px;
  padding: 20px;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.card-description p {
  font-size: 14px;
  color: var(--grey-text);
  letter-spacing: 0.6px;
  line-height: 20px;
}
.card-title-focused {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card-title-focused h3 {
  font-size: 18px;
  color: white;
  letter-spacing: 0.8px;
}
.card-title h3 {
  font-size: 18px;
  color: white;
  letter-spacing: 0.8px;
}
.card-title-focused span {
  background: var(--pill-gradient);
  color: var(--button-text);
  padding: 8px 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  margin: 16px 0 24px;
}
.card-content p {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.card-content .card-item {
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}
.card-pills span {
  font-size: 12px;
  font-weight: 600;
  color: var(--grey-text);
  letter-spacing: 1px;
  border-radius: 100px;
  border: 1px solid var(--toggle-border);
  padding: 8px 16px;
}

.card-cta {
  height: 44px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
}
.card-cta img {
  width: 20px;
  height: 20px;
}
.card-cta p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid var(--platzi-green);
  border-radius: 8px;
}
.card-focused {
  border: 0.4px solid var(--card-border-1);
  box-shadow: 0px 0px 32px rgba(10, 233, 138, 0.2);
}