footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 420px;
}
.footer-1 {
  width: 100%;
  height: 320px;
  background-image: url(../assets/img/mobile-footer-section-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-img-container {
  width: 160px;
  margin: 0 auto;
}
.footer-2 {
  height: 320px;
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer-info {
  text-align: center;
}
.footer-info p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: var(--grey-text);
}

