@import './dualcore-global-colors.css';

*{
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Roobert';
    src: url('../assets/fonts/Roobert-Font/01-Roobert-Light-TRIAL.otf') format('truetype');
    src: url('../assets/fonts/Roobert-Font/02-Roobert-Regular-TRIAL.otf') format('truetype');
    src: url('../assets/fonts/Roobert-Font/03-Roobert-Medium-TRIAL.otf') format('truetype');
    src: url('../assets/fonts/Roobert-Font/04-Roobert-SemiBold-TRIAL.otf') format('truetype');
    src: url('../assets/fonts/Roobert-Font/05-Roobert-Bold-TRIAL.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Roobert', sans-serif;
  background-color: var(--dc-bg-srf);
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, a {
    color: var(--dc-core-neutral-50);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
