*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roobert', sans-serif;
  color: var(--white);
}

@font-face {
    font-family: 'Roobert';
    src: url('../assets/fonts/Roobert-Font/01-Roobert-Light-TRIAL.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 62.5%;
  font-family: 'Roobert', sans-serif;
  background-color: var(--bg);
  font-family: 'Roobert', sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
