*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roobert', sans-serif;
  background-color: var(--bg);
  color: var(--white);
}

html {
  font-size: 62.5%;
  font-family: 'Roobert', sans-serif;
  background-color: var(--bg);
  font-family: 'Roobert', sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
