/* Declarando la fuente */

@font-face {
    font-family: 'Roobert'; /* El nombre que tú quieras darle */
    src: url('../assets/fonts/Roobert-Font/') format('otf'),
         url('../assets/fonts/Roobert-Font/') format('woff'),
         url('../assets/fonts/Roobert-Font/') format('truetype');
    font-weight: normal;
    font-style: normal;
}
