@import url('../assets/fonts/Roobert-Font/');
@import url('./root.css');
@import url('./base.css');
@import url('./main.css');
/*@import url('components/header.css');
@import url('components/hero.css');
@import url('components/footer.css');*/

header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg); /* Blanco con transparencia */
  backdrop-filter: blur(10px); /* Efecto de desenfoque muy moderno */
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 24px 16px;
  align-items: center;
  
}

.hero-container {
  width: 100%;
  height: 90vh;
  background-image: url(../assets/img/mobile-bg402x874.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hero-title {
  display: flex;
  flex-direction: column;
}
.hero-title h2 {
  font-size: var(--lg);
  font-family: 'Roobert', sans-serif;
  font-weight: 700;
  line-height: 32px;
  max-width: 310px;
}
.hero-title h1 {
  font-size: var(--md);
  font-family: 'Roobert', sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.6px;
  max-width: 305px;
  background: var(--hover-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-title span {
  font-size: 20px;
  font-family: 'Roobert', sans-serif;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.25px;
  background: var(--hover-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-buttons a {
  text-decoration: none;
  width: 300px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--rg);
}
.hero-buttons a:nth-child(1) {
  background: var(--platzi-green);
  color: var(--button-text);
  font-weight: 700;
  display: flex;
  gap: 8px;
}

.hero-buttons a:nth-child(2) {
  border: 1px solid var(--platzi-green);
  border-width: 1px 1px 2px;
  color: var(--platzi-green);
  letter-spacing: 0.4px;
}

.hero-buttons .btn-primary:hover {
  background-color: var(--hover-gradient);
}
.hero-buttons .btn-secondary:hover {
  background: var(--hover-gradient);
  color: var(--button-text);
}

/* Projects Section */
.wrapper-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.projects {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}
.projects-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  margin: 24px;
  text-align: center;
}
.projects-info p {
  font-size: 16px;
  font-family: 'Roobert', sans-serif;
  font-weight: 200;
  letter-spacing: 0.25px;
}
.projects-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.projects-title h2 {
  font-size: var(--md);
  font-family: 'Roobert', sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
  /*Adding gradient to a title*/
  background: var(--hover-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-togle {
  width: 288px;
  height: 64px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  background-color: var(--toggle-bg);
  border: 1px solid var(--toggle-border);
  border-radius: 100px;
}
.project-togle .ui-projects {
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.code-projects {
  width: 90%;
  height: 48px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--toggle-bg-darker);
  font-size: var(--rg);
  font-family: 'Roobert', sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--platzi-green);
}
